@import "tailwindcss";

@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
  button:hover {
    cursor: pointer;
  }
  a:hover {
    cursor: pointer;
  }
  html {
    scroll-behavior: smooth;
  }

  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }
}
